In [5]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
def readData(l,f):
  df = pd.read_csv(l+f)
  print(df.head(), '\n')
  print(df.info(), '\n')
  print(df.describe(), '\n')
  return df

In [3]:
def main():
  loc = ''
  file='Salary_Data.csv'
  data = readData(loc, file)
  return 0

In [4]:
main()

   YearsExperience  Salary  Class
0              1.1   39343      0
1              1.3   46205      0
2              1.5   37731      0
3              2.0   43525      0
4              2.2   39891      0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
 2   Class            30 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 848.0 bytes
None

       YearsExperience         Salary      Class
count        30.000000      30.000000  30.000000
mean          5.313333   76003.000000   0.166667
std           2.837888   27414.429785   0.379049
min           1.100000   37731.000000   0.000000
25%           3.200000   56720.750000   0.000000
50%           4.700000   65237.000000   0.000000
75%           7.700000  100544.750000   0.000000
max          10.500000  122391.000000   1.000000

0