In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = "The sun is shining "
s2 = "The weather is sweet "
s3 = "The sun is shining and the weather is sweet "

In [3]:
def calcTermFreq(content):
  df_bow = pd.DataFrame()
  tokens = content.split()
  vocab = set(tokens)

  # Add logic here to calculate the term frequency
  for w in vocab:
    tf = 0
    for t in tokens:
      if w == t:
        tf += 1
    df_bow[w] = [tf]
  return df_bow

In [4]:
corpus = s1 + s2 + s3
bagofwords = pd.DataFrame()
df_1 = calcTermFreq(s1)
df_2 = calcTermFreq(s2)
df_3 = calcTermFreq(s3)

frames = [df_1,df_2,df_3]
r = pd.concat(frames)
r
#    is   sun   weather     ..... 
# s1 1    1     0
# s2 1    0     1
# s3 2    1     1

   The  shining  sun  is  sweet  weather  the  and
0    1      1.0  1.0   1    NaN      NaN  NaN  NaN
0    1      NaN  NaN   1    1.0      1.0  NaN  NaN
0    1      1.0  1.0   2    1.0      1.0  1.0  1.0

In [5]:
# Lets look at nmf as a solution to sparse Matrix

In [10]:
from sklearn.decomposition import TruncatedSVD, NMF
X = np.array([ [1, 1], [2, 1], [2, 1.2], [4, 1], [5, 0.8], [6, 1] ])
m = NMF(n_components=1, init='random', random_state=0)

W = m.fit_transform(X)
H = m.components_

p = np.dot(W, H)

print(X)
print(p)

[[1.  1. ]
 [2.  1. ]
 [2.  1.2]
 [4.  1. ]
 [5.  0.8]
 [6.  1. ]]
[[1.16816255 0.26857402]
 [2.11795727 0.48694276]
 [2.16163083 0.49698381]
 [4.01754672 0.92368024]
 [4.92366788 1.13200792]
 [5.91713617 1.36041772]]