In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s1 = "The sun is shining "
s2 = "The weather is sweet "
s3 = "The sun is shining and the weather is sweet "

In [ ]:
def calcTermFreq(content):
  df_bow = pd.DataFrame()
  tokens = content.split()
  vocab = set(tokens)

  # Add logic here to calculate the term frequency
  for w in vocab:
    tf = 0
    for t in tokens:
      if w == t:
        tf += 1
    df_bow[w] = [tf]
  return df_bow

In [ ]:
corpus = s1 + s2 + s3
bagofwords = pd.DataFrame()
df_1 = calcTermFreq(s1)
df_2 = calcTermFreq(s2)
df_3 = calcTermFreq(s3)

frames = [df_1,df_2,df_3]
r = pd.concat(frames)
r
#    is   sun   weather     ..... 
# s1 1    1     0
# s2 1    0     1
# s3 2    1     1

   shining  The  is  sun  weather  sweet  the  and
0      1.0    1   1  1.0      NaN    NaN  NaN  NaN
0      NaN    1   1  NaN      1.0    1.0  NaN  NaN
0      1.0    1   2  1.0      1.0    1.0  1.0  1.0