In [1]:
s1 = 'good boys go to heaven and computer boys go to google'
s2 = 'good girls go to heaven and computer girls rule the world'

In [2]:
s1_list = s1.split()
s2_list = s2.split()

In [3]:
token_list = []
for i in s1_list:
  token_list.append(i)

for i in s2_list:
  token_list.append(i)

voc = set(token_list)

print('token count = ', len(token_list))
print('vocab count = ', len(voc))

tf_list = []
for w in voc:
  count = 0
  for t in token_list:
    if t == w:
      count += 1
  tf_list.append(count)

token count =  22
vocab count =  12

In [6]:
import pandas as pd

df = pd.DataFrame(zip(voc,tf_list), columns=['vocab','freq'])
df.T

,0,1,2,3,4,5,6,7,8,9,10,11
vocab,and,go,heaven,world,rule,boys,to,computer,good,girls,the,google
freq,2,3,2,1,1,2,3,2,2,2,1,1